/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [CODE]
      ,[LABEL]
      ,[YEAR]
      ,[Total]
      ,[Private_sector_houses]
      ,[Private_sector_dwellings_excluding_houses]
      ,[Total_private_sector_dwelling_units]
      ,[Total_dwelling_units]
      ,[Value_of_private_sector_houses]
      ,[Value_of_private_sector_dwellings_excluding_houses]
      ,[Value_of_total_private_sectors_dwelling_units]
      ,[Value_of_total_residential_building]
      ,[Value_of_total_non_residential_building]
      ,[Value_of_total_building]
      ,[Houses_0_number_of_transfers]
      ,[Houses_0_median_sale_price]
      ,[Attached_Dwellings_0_number_of_transfers]
      ,[Attached_Dwellings_0_median_sale_price]

  FROM [govhackdb].[dbo].[EconomicsandIndustry]
  where [LABEL] like 'renmark%' or [LABEL] like 'penrith%'